# Telegram Session Files (Very Important to ignore)
*.session
*.session-journal

# Python Cache
__pycache__/

# Downloads and Large Media Files
downloads/
*.mp4
*.jpg
*.png

# Logs and Errors
unknown_errors.txt
